body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}


a:link, a:visited {
    color: #00f;
    text-decoration: none;
}

nav ul {
    background-color: #e5e5e5;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    font-size: 1.3em;
}

nav li > a, nav li > a:link, nav li > a:visited {
    background-color: #e5e5e5;
    color: #005555;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;

    box-sizing: border-box;
    padding-left:  15px;
    padding-right: 15px;
}

nav li > a:hover {
    background-color: #c5c5c5;
    color: #005555;
}

th, td {
    padding: 2px 6px;
}

thead tr {
    background-color: #aaa;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

.action a:link, .action a:visited {
    color: #00f;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.clearfix {
    overflow: hidden;
    width: 100%;
}

.image-table {
    border-collapse: collapse;
}

.image-table td,
.image-table th {
    padding: 6px;
}

.schedule-table {
    margin: 0 auto;
    width: 60%;
}

.table-cell-false {
    background-color: #fcc;
}

.form-align {
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
}

.form-row {
    margin-bottom: 5px;
    text-align: center;
}

.right-col,
.left-col {
    display: inline-block;
}

.left-col {
    width: 25%;
    margin-right: 5px;
    text-align: right;
}

.right-col {
    margin-left: 5px;
    text-align: left;
    width: 25%;
}

.custom-radio {
    border: 1px dotted #222;
    width: 70%;
}

.custom-radio input[type=radio] {
    display: none;
}

.custom-radio label {
    cursor: pointer;
    display: block;
    padding: 0 8px;
}

.custom-radio input[type=radio]:checked + label {
    background-color: #ccfede;
}

.months a {
    padding: 5px;
}
.months .active {
    background-color: #08f;
    color: #fff;
}


#upload-form {
    background-color: #eee;
    float: right;
    margin-right: 50px;
    padding: 10px;
}

#container1 {
    position: relative;
    float: left;
    width: 60%;
}

#img-data {
    box-sizing: border-box;
    float: right;
    padding: 0 20px;
    width: 40%;
}

#img1 {
    width: 100%;
}

#canvas1 {
    border: 1px dashed #000;
    position: absolute;
    left: -1px;
    top: -1px;
    visibility: hidden;
}
